<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309426946323-3qeuvc2csutpo4vp0mkqc1i15p6p01a6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309426946323-3qeuvc2csutpo4vp0mkqc1i15p6p01a6</string>
	<key>API_KEY</key>
	<string>AIzaSyCRJdYeBotvEHO98C1rXEuOBv_yi_j2p9E</string>
	<key>GCM_SENDER_ID</key>
	<string>309426946323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBgIsolates</string>
	<key>PROJECT_ID</key>
	<string>flutgo</string>
	<key>STORAGE_BUCKET</key>
	<string>flutgo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309426946323:ios:089b39caf27176d0505ae6</string>
	<key>DATABASE_URL</key>
	<string>https://flutgo-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>